{% extends "base.html" %}

{% block content %}
<div class = "container-fluid" style = "padding:10px">
  <div class = "row-fluid">
    
    
    <div class = "span5">
        <!-- profile box -->
        <div class = "thumbnail" style = "margin-bottom:10px; background-color: white; padding: 0px;">
          <h3 style = "margin-top:0; margin-bottom:0px;" class = "thumbnail blue-head text-center"> Your Profile </h3>
          <div style = "padding: 10px;">
            {% if user.is_authenticated %}
              <div class = "row-fluid">
                
                <table style = "color: #999999; margin-top: 10px; line-height:200%;">
                    <tr>
                        <td style = "color: black; text-align: right">Name:</td><td> </td><td>{{ user.userprofile.firstName }} {{user.userprofile.lastName}}</td>
                    </tr>
                    <tr>
                        <td style = "color: black; text-align: right">Username:</td><td> &nbsp;&nbsp;&nbsp;</td><td>{{user.username}}</td>
                    </tr>
                    <tr>
                        <td style = "color: black; text-align: right">Profile Picture:</td><td> </td><td><div style="opacity: 0.6" class = "square-crop crop-lg"><img src="{{ user.userprofile.picture }}"></div></td>
                    </tr>
                    <tr>
                        <td style = "color: black; text-align: right">Email:</td><td> </td><td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td style = "color: black; text-align: right">School:</td><td> </td><td>{{ user.userprofile.school }}</td>
                    </tr> 
                    <tr>
                      <td style = "color: black; text-align: right">Teacher-Status:</td><td> </td><td>{% if user.userprofile.isTeacher %}  
                         Teacher
                      {% else %}
                         Student
                      {% endif %}</td>
                    </tr>
                </table>
                  
                
              </div>
            {% else %}
              <div class = "row-fluid">
                <div class = "span5">
                  <img class = "square-crop" src = "{{STATIC_URL}}forum/flag.png">
                </div>
                <div class = "span7 text-center">
                  <h4>Who are you?</h4>
                  <a href="{% url 'users:register' %}">Sign up</a><br />
                  <a href="#myModalLogin" data-toggle="modal">Log in</a>
                </div>
              </div>
              
            {% endif %}
          </div>
        </div>
        
     
    </div>

    <!-- edit profile -->

    <div class = "span7">

        <div class = "thumbnail" style = "margin-bottom:10px; background-color: white; padding: 0px;">
          <h3 style = "margin-top:0;" class = "thumbnail blue-head text-center"> Edit </h3>
          <div style = "padding: 10px;">
            <form id="edit_profile_form" method="post" action="/users/edit_profile/"
                    enctype="multipart/form-data">

                {% csrf_token %}

                <!-- Display each form. The as_p method wraps each element in a paragraph
                     (<p>) element. This ensures each element appears on a new line,
                     making everything look neater. -->
                {{ form}}
                <br/><br/>
                <!-- Provide a button to click to submit the form. -->
                <input class = "btn btn-primary" type="submit" name="submit" value="Update Profile" />
            </form>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Modal HTML -->
<div id="myModalLogin" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form id="login_form" method="post" action="/users/login/">
                    {% csrf_token %}
                    Username: <input type="text" name="username" value="" size="50" />
                    <br />
                    Password: <input type="password" name="password" value="" size="50" />
                    <br /><br/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value = "submit"/>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}