{% extends "login_base.html" %}

{% block spacing %}
{% endblock %}

<!-- form for login -->
{% block content %}
	Don't have a profile? <a style = "color: #0088cc" href="{% url 'users:register' %}"> Sign Up </a>
    <form id="login_form" method="post" action="/users/login/">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />

        <input class = "btn" type="submit" value="submit" />
    </form>
{% endblock %}
